# Rename this file to .env before running the project

REDDIT_CLIENT_ID=mJplXTX0q-N9H7pEirE3WA
REDDIT_CLIENT_SECRET=5cNLvCdwwXhPUrpJb-pQI0fqbeIJsA
REDDIT_USERNAME=KeyEnvironmental5344
REDDIT_PASSWORD=Whatever1!
REDDIT_USER_AGENT=reddit-nft-bot/1.0.0 by KeyEnvironmental5344
